/* Common CSS */
* { box-sizing: border-box; }
body { font-family: Helvetica, sans-serif; }

a { 
    color: unset;
    text-decoration: none; 
}

.wrapper {
    width: 57.867%;
    margin: 0 auto;
}

figure > img {
    width: 100%;
    height: auto;
    display: block;
}

ul.carousel-dots {
    margin-top: 35px;
    font-size: 0;
    text-align: center;
}

ul.carousel-dots li {
    margin-right: 10px;
    display: inline-block;
}

ul.carousel-dots li:last-child { margin-right: 0; }

ul.carousel-dots li a {
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    background: white;
    font-size: 0;
}

ul.carousel-dots li.selected a { background: rgba(72, 212, 148, 1); }
ul.carousel-dots li a:hover { background: rgba(72, 212, 148, 1); }

.fifty-percent > h3 {
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    color: rgba(72, 212, 148, 1);
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-transform: capitalize;
}

.fifty-percent > p {
    width: calc(50% - 30px);
    margin-right: 30px;
    color: rgba(70, 70, 70, 1);
    font-size: 14px;
    line-height: 22px;
}

.display-none { display: none; }

/* Header CSS */
header {
    width: 86.45%;
    display: flex;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

header h1 {
    padding-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

header ul {
    display: flex;
    justify-content: center;
    flex: auto;
}

header ul li { margin-right: 35px; }
header ul li:last-child { margin-right: 0; }

header .selected a {
    border-bottom: 2px solid white;
}

header li a {
    padding: 10px 0;
    display: inline-block;
    color: rgba(175, 170, 177, 1);
    font-size: 14px;
    text-transform: capitalize;
    transition: color 1s ease-in-out;
}

header li a:hover { color: rgba(72, 212, 148, 1); }

header div a {
    padding: 10px 15px;
    border: 1px solid rgba(72, 212, 148, 1);
    border-radius: 3px;
    display: inline-block;
    color: rgba(72, 212, 148, 1);
    font-size: 10px;
    text-transform: uppercase;
    transition: color 1s ease-in-out;
}

header div a:hover {
    color: white;
    border: 1px solid white;
}

/* Banner Section */
#banner {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

#banner h2 {
    width: 34.83%;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 86px;
    font-weight: bold;
    line-height: 106px;
    text-align: center;
    text-transform: capitalize;
    transform: translate(-50%, -50%);
}

/* Page Content Section*/
#content { background: black; }
/* Content Stats sub-section*/
#content-stats {
    padding-top: 65px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: nowrap;
}

#content-stats li { 
    margin-right: 75px;
    display: flex;
}

#content-stats li:last-child { margin-right: 0; }

#content-stats li figure { 
    margin-right: 20px;
    align-self: center;
}

#content-stats li .stat-number {
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#content-stats li .stat-name {
    color: rgba(70, 70, 70, 1);
    font-size: 12px;
    text-transform: capitalize;
}

/* Fitness */
#fitness { display: flex; }

#fitness .part1 {
    flex-basis: 50%;
}

#fitness .part1 > * { 
    margin-right: 22.22%;
    margin-bottom: 30px;
}

#fitness .part1 > *:last-child { margin-bottom: 0; }

#fitness .part1 h3 {
    color: rgba(72, 212, 148, 1);
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-transform: capitalize;
}

#fitness .part1 p {
    color: rgba(70, 70, 70, 1);
    font-size: 14px;
    line-height: 22px;
}

#fitness .part1 a {
    padding: 20px;
    border-radius: 3px;
    display: inline-block;
    background: rgba(72, 212, 148, 1);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 1s ease-in-out;
}

#fitness .part1 a:hover { background: rgba(70, 70, 70, 0.8); }
#fitness .part2 { flex-basis: calc(50% - 9px); }
#fitness .part2 > img { box-shadow: 9px 9px rgba(72, 212, 148, 1); }

/* Classes */
#classes {
    margin-top: 140px;
    margin-bottom: 50px;
}

/* Images */
#images .images-slider {
    display: block;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
}

#images .images-slider li { display: inline-block; }

/* Schedule */
#schedule { 
    margin-top: 150px;
    margin-bottom: 150px;
}

#schedule > ul {
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

#schedule > ul a {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    color: rgba(72, 212, 148, 1);
    font-size: 14px;
    text-transform: capitalize;
    transition: background 1s ease-in-out;
}

#schedule > ul a:hover {
    background: rgba(72, 212, 148, 1);
    color: white;
}

#schedule li.selected a {
    background: rgba(72, 212, 148, 1);
    color: white;
}

#schedule-displayed ul.row {
    border-right: 2px solid rgba(70, 70, 70, 1);
    border-left: 2px solid rgba(70, 70, 70, 1);
    border-bottom: 2px solid rgba(70, 70, 70, 1);
    display: flex;
    font-size: 14px;
}

#schedule-displayed ul.row:first-child { border-top: 2px solid rgba(70, 70, 70, 1); }

#schedule-displayed ul.row li {
    padding: 20px 10px;
    border-right: 2px solid rgba(70, 70, 70, 1);
    color: rgba(70, 70, 70, 1);
    text-transform: capitalize;
}

#schedule-displayed ul.row .training-name { flex: 5; }
#schedule-displayed ul.row .time { flex: 7; }
#schedule-displayed ul.row .trainer-name { flex: 5; }

#schedule-displayed ul.row .join-button { 
    border-right: none;
    flex: 3; 
    text-align: center;
}

#schedule-displayed .join-button a {
    color: rgba(72, 212, 148, 1);
    transition: color 1s ease-in-out;
}

#schedule-displayed .join-button a:hover { color: white; }

/* Trainers */
#trainers ul {
    margin-top: 50px;
    display: flex;
}

#trainers ul li {
    margin-right: 5.35%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#trainers ul li:nth-of-type(2) { margin-top: 40px; }
#trainers ul li:last-child { margin-right: 0; }
#trainers figure { margin-bottom: 40px; }
#trainers figure > img { box-shadow: 9px 9px rgba(72, 212, 148, 1); }

#trainers li h4 {
    margin-bottom: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

#trainers li .trainer-speciality {
    margin-bottom: 30px;
    color: rgba(70, 70, 70, 1);
    font-size: 13px;
    text-transform: capitalize;
}

#trainers li .trainer-description {
    color: rgba(70, 70, 70, 1);
    font-size: 14px;
    line-height: 22px;
}

/* Featured Services */
#featured-services {
    padding-bottom: 75px;
    margin-top: 150px;
}

#featured-services ul.services {
    margin-top: 50px;
    display: flex;
}

#featured-services ul.services > li {
    padding: 60px 50px;
    margin-right: 2.85%;
    background: rgba(72, 212, 148, 1);
    color: white;
    flex: 0 0 31.433333%; 
}

#featured-services ul.services > li:nth-of-type(3) { margin-right: 0;}
#featured-services ul.services figure { margin-bottom: 30px; }
#featured-services ul.services img { max-width: 70px; }

#featured-services ul.services h4 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

#featured-services ul.services p {
    color: rgba(196, 241, 221, 1);
    font-size: 14px;
    line-height: 22px;
}

/* Contact Us Section */
#contact-us { background: #121212; }
#contact-us > .wrapper {  padding: 80px 0; }

#contact-us > .wrapper > * {
    min-width: 503px;
    width: 57.22%;
    margin-right: auto;
    margin-left: auto;
} 

#contact-us h3 {
    margin-bottom: 25px;
    color: rgba(72, 212, 148, 1);
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-transform: capitalize;
}

#contact-us p {
    margin-bottom: 35px;
    color: rgba(70, 70, 70, 1);
    font-size: 14px;
    line-height: 22px;
}

#contact-us form input, #contact-us form textarea {
    padding: 10px;
    border: 2px solid white;
    background: #121212;
    color: rgba(70, 70, 70, 1);
    font-size: 14px;
}

#contact-us form > * { margin-bottom: 12px; }
#contact-us form > *:last-child { margin-bottom: 0; }

#first-name, #last-name {
    width: calc(50% - 15px);
    display: inline-block;
}

#first-name { margin-right: 24px; }

#subject, #email-id, #message { 
    width: 100%;
    display: block; 
}

#contact-us form #contact-us-submit {
    width: calc(50% - 15px);
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    display: inline-block;
    background: rgba(72, 212, 148, 1);
    color: rgba(12, 12, 12, 1);
    font-size: 10px;
    font-weight: bold;
    transition: background 1s ease-in-out;
}

#contact-us form #contact-us-submit:hover {
    background: white;
    cursor: pointer;
}

/* Footer CSS */
footer { background: black; }

footer > .wrapper {
    padding-top: 100px;
    padding-bottom: 110px;
}

footer .about-links {
    margin-bottom: 155px;
    display: flex; 
}

footer .about-links > .about {
    margin-right: 11.60%;
    flex-basis: 31.74%;
}

footer .about-links > .links { margin-right: 17.86%; }
footer .about-links > .subscribe { flex-basis: 31.74%; }

.about-links > * > h4 {
    margin-bottom: 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-links > * > p {
    color: rgba(70, 70, 70, 1);
    font-size: 13px;
    line-height: 22px;
}

.links > ul {
    display: flex;
    flex-direction: column;
}

.links > ul > li { margin-bottom: 15px; }

.links li > a {
    display: inline-block;
    color: rgba(72, 212, 148, 1);
    font-size: 14px;
    text-transform: capitalize;
    transition: color 1s ease-in-out;
}

.links li > a:hover { color: white; }
.subscribe > p { margin-bottom: 15px; }

.subscribe > form {
    display: flex;
    font-size: 0;
}

.subscribe > form > * { display: inline-block; }

#subscribe-email-id {
    padding: 10px;
    border: 2px solid white;
    background: black;
    color: rgba(70, 70, 70, 1);
    font-size: 13px;
}

#subscribe-submit {
    padding: 12px;
    border: none;
    background: rgba(72, 212, 148, 1);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 1s ease-in-out;
}

#subscribe-submit:hover {
    background: white;
    cursor: pointer;
}

footer .copyright-info {
    color: rgba(70, 70, 70, 1);
    font-size: 13px;
    text-align: center;
}

footer .copyright-info > a {
    color: rgba(72, 212, 148, 1);
    transition: color 1s ease-in-out;
}

footer .copyright-info > a:hover { color: white; }

/* CSS for 1024px to 1265px Width */
@media only screen and (max-width: 1265px) {
    .wrapper { width: 75%; }

    .fifty-percent > h3 {
        font-size: 30px;
        line-height: 34px;
    }

    #banner h2 {
        width: 50%;
        font-size: 70px;
        line-height: 90px;
    }

    #content-stats li .stat-number { font-size: 24px; }
    #content-stats { padding-bottom: 75px; }

    #fitness .part1 h3 {
        font-size: 30px;
        line-height: 34px;
    }

    #classes { margin-top: 75px; }

    #schedule { 
        margin-top: 75px;
        margin-bottom: 75px;
    }

    #trainers li > h4 { font-size: 20px; }
    #featured-services { margin-top: 75px; }
    #contact-us > .wrapper {  padding: 75px 0; }

    #contact-us h3 {
        font-size: 30px;
        line-height: 34px;
    }

    footer > .wrapper { padding: 75px 0; }
    footer .about-links { margin-bottom: 60px; }
}

/* CSS for 768px to 1023px Width */
@media only screen and (max-width: 1023px) {
    .wrapper {
        width: calc(100% - 20px);
        margin: 0 10px 0 10px;
    }

    .fifty-percent > h3 {
        width: calc(100% - 20px);
        margin: 0 10px;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 30px;
    }
    
    .fifty-percent > p {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    #banner h2 {
        width: 40%;
        font-size: 50px;
        line-height: 70px;
    }

    #content-stats {
        padding-top: 45px;
        padding-bottom: 45px;
        justify-content: center;
    }

    #fitness .part1 > * { margin: 0 0 20px 10px; }

    #fitness .part1 h3 {
        font-size: 26px;
        line-height: 30px;
    }

    #fitness .part1 a { padding: 18px 12px; }
    
    #classes { 
        margin-top: 54px;
        margin-bottom: 45px;
    }

    #schedule > ul a { padding: 12px; }
    #schedule-displayed ul.row li { padding: 15px 10px; }

    #schedule { 
        margin-top: 45px;
        margin-bottom: 45px;
    }

    #schedule > ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #trainers ul {
        width: 75%;
        margin: 30px auto 0 auto;
        flex-direction: column;
    }

    #trainers ul li {
        margin-right: 0;
        margin-bottom: 29px;
        flex: 0 0 100%;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    #trainers ul li:nth-of-type(2) { margin-top: 0; }
    #trainers ul li:last-child { margin-bottom: 0; }
    #trainers li > * { flex: 1; }
    #trainers li .trainer-speciality { margin-bottom: 20px; }
    #trainers figure { margin-bottom: 0; }
    #trainers figure > img { width: calc(100% - 9px); }

    #featured-services { 
        margin-top: 54px;
        padding-bottom: 45px; 
    }

    #featured-services ul.services { margin-top: 20px; }
    #featured-services ul.services > li { padding: 30px; }
    #contact-us > .wrapper {  padding: 45px 0; }

    #contact-us h3 {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 30px;
    }

    #contact-us p { margin-bottom: 20px; }

    footer > .wrapper { padding: 45px 0; }
    footer .about-links { margin-bottom: 40px; }
    footer .about-links > .about {
        margin-right: 5%;
        flex-basis: 40%;
    }
    
    footer .about-links > .links { margin-right: 5%; }
    footer .about-links > .subscribe { flex-basis: 40%; }
    .about-links > * > h4 { margin-bottom: 20px; }
}